# Data Cleaning

This notebook presents the whole data cleaning process, which consists in extracting new tables and relations, as well as cleaning the existing files from dirty tuples and values.

The new clean data files are saved in the `.csv` format, and will be used to load data to the database.

In [68]:
# Import packages
import pandas as pd
import os
import numpy as np

## Data loading

We first import all the `.csv` files into `pandas` DataFrames.

_Note_: some lines are ill-formed, we choose to ignore them.

In [69]:
# Root of the data files
PATH = os.path.join('..', 'data', 'original')

# Dic: name -> dataframe
dataframes = {}

# Get all the original files
for file in os.listdir(PATH):
    name = file.split('.')[0]
    # Note: some lines are ill-formed, we ignore them
    dataframes[name] = pd.read_csv(os.path.join(PATH, file), error_bad_lines=False)

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
b'Skipping line 6010: expected 16 fields, saw 29\nSkipping line 14907: expected 16 fields, saw 29\n'
b'Skipping line 142947: expected 16 fields, saw 27\n'
b'Skipping line 379178: expected 16 fields, saw 27\n'
b'Skipping line 411105: expected 16 fields, saw 18\n'
b'Skipping line 532885: expected 16 fields, saw 27\n'
b'Skipping line 625092: expected 16 fields, saw 27\n'
b'Skipping line 743624: expected 16 fields, saw 27\n'
b'Skipping line 786680: expected 16 fields, saw 27\n'
b'Skipping line 892034: expected 16 fields, saw 29\n'
b'Skipping line 1157212: expected 16 fields, saw 29\nSkipping line 1157657: expected 16 fields, saw 29\n'
b'Skipping line 1265876: expected 16 fields, saw 29\n'
b'Skipping line 1460021: expected 16 fields, saw 22\n'
b'Skipping line 1591431: expected 16 fields, saw 29\n'
b'Skipping line 1615982: expected 16 fields, saw 29\nSkipping line 1623916: expected 16 fields, saw 23\n'
/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Notes table

This part aims to extract the notes from each table containing a `notes` attributes. Notes are loaded in a new table, and replaced by foreign keys in the original tables.

We first concatenate all the notes from all the dataframes.

In [70]:
notes = pd.Series()
for _, df in dataframes.items():
    if 'notes' in df.columns: 
        note = df['notes'].dropna()
        notes = notes.append(note, ignore_index=True)

# Keep unique notes
notes = notes.drop_duplicates(keep='first').reset_index(drop=True)
# Shift to start with ID 1
notes.index = notes.index + 1
notes.head()

1    Used for the MLJ superheroes that DC licensed ...
2    An imprint of HarperCollins Publishers; URL li...
3    Lancé en 2008 le label Fusion Comics était com...
4    a highly-stylized "A" with the crossbar formed...
5                Letter B is larger than rest of text.
dtype: object

Create the new notes dataframe:

In [71]:
# Form a DataFrame from the note Series
notes_df = notes.to_frame()
notes_df.columns = ['notes']
notes_df['id'] = notes_df.index

dataframes['notes'] = notes_df[['id', 'notes']]
notes_df.head()

                                               notes  id
1  Used for the MLJ superheroes that DC licensed ...   1
2  An imprint of HarperCollins Publishers; URL li...   2
3  Lancé en 2008 le label Fusion Comics était com...   3
4  a highly-stylized "A" with the crossbar formed...   4
5              Letter B is larger than rest of text.   5

Replace the notes by the IDs in the original tables:

In [72]:
# Series from notes to uniqueID
notes_mapper = pd.Series(notes.index, index=notes)

for name, df in dataframes.items():
    # Skip the notes dataframe obviously
    if name == 'notes':
        continue
    
    if 'notes' in df.columns:
        # Map notes to their IDs
        df['notes'] = df['notes'].map(notes_mapper)

## Artists table

We first scan through all the different categories of artists , clean the data and then store all artist in one single table as described in our ER diagram.

In [115]:
# Make table to store the list of all artists
all_artists = pd.Series()
# Dictionnary to store all artists of one category
artists = {}
categories = ['script','pencils','inks','colors','letters']
story_df = dataframes['story']

for category in categories:
    #remove all data in () and in [], removes trailing white space and set empty cells to nan
    story_df[category] = story_df[category].str.replace(r"(\(.*\))|(\[.*\])|\?","").str.strip('; ').replace('',np.nan)

    artists[category] = story_df[category]
    # Set the index of artists to the corresponding stoy_id
    artists[category].index = story_df['id']
    #remove nan
    artists[category] = artists[category].dropna()
    #add artits to the global table
    all_artists = all_artists.append(artists[category],ignore_index=True)
    
# Keep unique artists
all_artists = all_artists.drop_duplicates(keep='first').reset_index(drop=True)
# Shift to start with ID 1
all_artists.index = all_artists.index + 1
all_artists.head()

1                   Gustave Doré
2    Wilhelm Busch; Harry Rogers
3         The Donaldson Brothers
4                  Wilhelm Busch
5                  Richard Doyle
dtype: object

Here, we correctly index the different category of artists table with the correct story index and the correct artists index. We also save these artists in the dataframe where we store all our tables.

In [118]:
# Series from artists to uniqueID
artist_mapper = pd.Series(all_artists.index, index=all_artists)

for category in categories:
   
    artists[category] = artists[category].to_frame() 
    artists[category]['story_id'] = artists[category].index
    artists[category].columns = ['artist_id','story_id']
    artists[category]['artist_id'] = artists[category]['artist_id'].map(artist_mapper)
    
    dataframes[category] = artists[category]
    
    
dataframes['artists'] = all_artists.to_frame()
dataframes['artists'].head()

AttributeError: 'DataFrame' object has no attribute 'to_frame'

In [117]:
for category in categories:
    story_df = story_df.drop(category,axis = 1)
dataframes['story']= story_df

                             0
1                 Gustave Doré
2  Wilhelm Busch; Harry Rogers
3       The Donaldson Brothers
4                Wilhelm Busch
5                Richard Doyle

## Individual files cleaning

This part aims to clean each `.csv` file individually in order to remove dirty rows and clear values that need some special treatment.

### Country

By browsing the country data, we see that one row is not valid, with ID 248. We see in the cell below that for `publisher`, for example, no row references this ID, which is with high probably pure dirty data, we can safely remove it.

In [75]:
pub = dataframes['publisher']
print('Number of publisher with country_id 248: {}.'.format(len(pub[pub['country_id'] == 248])))

# Look for NaN values
print('NaN values: ')
df = dataframes['country']
df.isnull().sum()

Number of publisher with country_id 248: 0.
NaN values:

id      0
code    0
name    0
dtype: int64

In [76]:
# Remove the desired row
dataframes['country'] = df[df['id'] != 248]

### Story Reprint

The story reprint table needs to be full, as we don't accept _NULL_ foreign keys in this case. We see in the cell below that there are no empty cells in the table.

In [77]:
dataframes['story_reprint'].isnull().sum()

id           0
origin_id    0
target_id    0
dtype: int64

### Story Type

By looking at the story types we see that the third row is problematic:

In [78]:
df = dataframes['story_type']
df.ix[2]

id                                             3
name    (backcovers) *do not use* / *please fix*
Name: 2, dtype: object

We check if any story contains a reference to this row:

In [79]:
stories = dataframes['story']
print('Number of stories referencing ID 3: {}.'.format(len(stories[stories['type_id'] == 3])))

Number of stories referencing ID 3: 0.

We can safely remove it:

In [80]:
dataframes['story_type'] = df[df['id'] != 3]

## Saving files

We can now save our clean and new tables, ready for database loading.

In [81]:
# Code to save data in csv files for later use
#dataframes['notes'].to_csv('test.csv', index=False, float_format='%.0f')